@body-font: 'Open Sans', sans-serif;
@header-font: 'TitilliumText25L400wt', sans-serif;

@green: #12B812;
@purple: #8E1096;
@orange: #FF7100;
@red: #D73812;

@yellow: yellow;
@dark-black: #222;
@link-blue: #0077B3;
@link-hover: #EA4C88;
@content-bg: #fafafa;
@sidebar-off: #ccc;

hr.fancy-line {
    margin: 0px;
    border: 3px solid @yellow;
}

ul.listless {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.centered {
    text-align: center;
}

.shadowed-thumbnail {
    padding: 1px;
    border: 1px solid #333;
    border-radius: 2px;
    box-shadow: 0 0 1px #ccc;
    max-width: 95%;
}